td,
th {
    border: 1px solid rgb(190, 190, 190);
    padding: 10px;
}

td {
    text-align: center;
}

tr:nth-child(even) {
    background-color: #eee;
}

th:last-child, td:last-child {
  width: 200px;
}

th.col {
    background-color: #696969;
    color: #fff;
}

caption {
    padding: 10px;
    caption-side: top;
}

table {
    border-collapse: collapse;
    border: 2px solid rgb(200, 200, 200);
    letter-spacing: 1px;
    font-family: sans-serif;
    font-size: .8rem;
    table-layout: fixed;
}

.links a {
    text-align: center;
}

.links {
    display: flex;
    width: 140px;
    justify-content: space-between;
}

.links .divider {
    width: 1px;
    border-right: 1px solid #100101;
}
